{% extends "layout.html" %} {% block content %}
<h1>Sentiment Analysis</h1>
<br>
<h2>Sumary</h2>
<br>
<p>This is the final project of the subject "Análisis Inteligente de Textos"</p>
<p>This project is a text sentiment analyzer. You can put directly your comment, review or any text you want to make any analysis</p>
<div style="width: 75%; margin: auto; max-height: 390px;">
    <img style="width: 100%; object-fit: contain; object-position: center; padding: 3%;" src="https://miro.medium.com/max/939/1*35pb5PlxcSljWGiEBIo7jQ.png" alt="NLP">
</div>
<h2>About this project</h2>
<br>
<p>The project was built on python language and uses the Naive Bayes classifier that is based on the Bayes Theorem.</p>
<br>
<h3>How does the program work?</h3>
<br>
<p>The program was made with python language and uses the NLTK library to make the text analysis</p>
<p>The analyzer was trained and tested with many reviews, to have an accuracy_score of:</p>
<p><b>{{accuracy_score}}</b></p>
<br>
<p>This accuracy score was possible by training the model with 10,000 different reviews.</p>
<p>If you want to know more about how the program works go to the next link to understand well the program functionality (The article is write on Spanish):</p>
<a href="https://docs.google.com/document/d/1y2tYsYGIhGw4BVCYeYlU6R67bx2aLruqI5jqsDz8uV0/edit?usp=sharing" target="_blank">Determinación del grado de satisfacción de los clientes de una empresa mediante el análisis inteligente de textos.</a>
<br>
<p>In the next line, you can see a report of the precision, recall, and f1-score about this analyzer:</p>
<br>
<div>{{classification_report}}</div>
<br>
<p>In the next line you can check the confusion matrix:</p>
<br>
{% for row in confusion_matrix%}
<div>{{row}}</div>
{% endfor %}
<br>
<p>The next line shows the common words in the Train Data</p>
<br>
<div>{{common_words}}</div>
{% endblock %}