{% extends "layout.html" %}
{% block content %}
<form method="POST" action="/result_review">
  <h2>Analyze your personal review.</h2>
  <p>Here you can analyze your personal review, these are the steps to follow:</p>
  <p>1- Write your review about any company, movie or anything you want.</p>
  <p>2- Copy and paste your review in the next input field.</p>
  <p>3- Send the form and wait for the page response with the analysis detail.</p>
    <div class="form-group">
      <label for="review">Your review</label>
      <input type="text" class="form-control" id="review" name="review" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Text you want to analyze</small>
    </div>
    <button type="submit" class="btn btn-danger btn-md btn-block">Send review</button>
</form>
<br>
<form method="POST" action="/twitter_search">
  <h2>Make a search on twitter.</h2>
  <p>In this option the program will make a search on Twitter about one topic an return a positive or negative clasification.</p>
  <p>These are the steps to follow::</p>
  <p>1- Think one topic (movie, company, social problem or whatever you want) and write it on the input field.</p>
  <p>2- Send the form and wait for the page response with the analysis detail.</p>
    <div class="form-group">
      <label for="topic">Your topic</label>
      <input type="text" class="form-control" id="topic" name="topic" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">The topic you want to analyze</small>
    </div>
    <button type="submit" class="btn btn-danger btn-md btn-block">Do the seach</button>
</form>
{% endblock %}